* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper{
  background-color: grey;
  height: 100px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.header-left {
  font-size: 18px;
  font-weight: 500;
  width: 30%;
  height: 100px;
  margin: auto;
}
.header-right {
  font-size: 18px;
  font-weight: 500;
  width: 50%;
  height: 100px;
  margin: auto;
}

.list-style li {
  list-style: none;
  padding: 10px;
  display: inline-block;
}
.list-style li a {
  text-decoration: none;
}
