* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper{
  height: 80px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.header-left {
  font-size: 18px;
  font-weight: 500;
  width: 30%;
  height: 80px;
  padding: 15px;
  text-align: right;
}
.header-left img {
  width: 90px;
}
.header-right {
  font-size: 18px;
  font-weight: 500;
  width: 50%;
  height: 80px;
  padding: 20px;
  text-align: left;
}
.header-right li a {
  color: grey;
}
.color-black {
  color: black;
}
.color-grey {
  color: grey;
}

.list-style li {
  list-style: none;
  padding: 10px;
  display: inline-block;
}
.list-style li a {
  text-decoration: none;
}
.fas {
  font-size: 12px;
}
/* BOTTONE */
.scarica_app {
  color: white;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  background-color: violet;
  border: 2px solid white;
}
